# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# SDCC or SiLabs IDE
*.#*
*.omf
*.mem
*.map
*.lk
*.cdb
*.adb
*.rel
*.rst
*.asm
*.hex
*.sym
*.lst

# OS X Finder metadata
.DS_Store
